[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django = "*"
pysmb = "*"
django-mptt = "*"
django-treebeard = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
ipython = "*"
